RewriteEngine On

RewriteRule ^([^/]*)\.html$ /index.php?ctrl=$1 [L]
RewriteRule ^([^/]*)/([^/]*)\.html$ /index.php?ctrl=$1&action=$2 [L]
RewriteRule ^([^/]*)/([^/]*)/([^/]*)\.html$ /index.php?ctrl=$1&action=$2&id=$3 [QSA]
