*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

#wrapper{
    min-height: 100vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    
    max-width: 1024px;
    margin: auto;
}

#mainpage{
    flex: 1;
    width: 100%;
}

table{
    width: 100%;

}

table th{
    background-color: #888;
    color: #fff;
}

table tr:nth-child(even){
    background-color: #ddd;
}

form{
    max-width: 600px;
    margin: auto;
}

form p{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

form input:not([type="submit"]), form select{
    padding: 0.5em 0.2em;
}
form input:not([type="submit"]), form select{
    flex: 1;
}
form input[type='submit']{
    padding: 0.5em;
}
footer{
    flex: 0;
}